.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  padding: 22px 0;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  line-height: 100%;
  color: $headerWhiteColor;
  background-color: $mainOrangeColor;
  transition: box-shadow 0.5s;

  &--orange {
    background-color: $mainOrangeColor;

    &:link,
    &:visited,
    &:active {
      color: $headerWhiteColor;
      text-decoration: none;
    }

    &:hover {
      box-shadow: inset 280px 0 0 0 $hoverButtonColor;
      color: $headerWhiteColor;
      text-decoration: none;
    }
  }

  &--green {
    background-color: $mainGreenColor;
    border: 1px solid $headerWhiteColor;

    &:link,
    &:visited,
    &:active {
      color: $headerWhiteColor;
      text-decoration: none;
    }

    &:hover {
      box-shadow: inset 280px 0 0 0 $hoverButtonColor;
      color: $headerWhiteColor;
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    width: 270px;
  }

  @media (min-width: 1920px) {
    width: 400px;
    font-size: 1.5rem;
    padding: 42px 0;

    &--hidden {
      width: 280px;
      font-size: 1rem;
      padding: 22px 0;
    }
  }
}
