.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  padding: 22px 0;
  font-size: 1rem;
  line-height: 100%;
  color: $mainWhiteColor;
  background-color: $mainOrangeColor;
  transition: box-shadow 2s;
  text-decoration: none;

  &--orange {
    background-color: $mainOrangeColor;

    &link,
    &:visited,
    &:active {
      color: $mainWhiteColor;
      text-decoration: none;
    }

    &:hover {
      box-shadow: inset 280px 0 0 0 $hoverButtonColor;
      color: $mainWhiteColor;
      text-decoration: none;
    }
  }

  &--green {
    background-color: $mainGreenColor;
    border: 1px solid $mainWhiteColor;

    &link,
    &:visited,
    &:active {
      color: $mainWhiteColor;
      text-decoration: none;
    }

    &:hover {
      box-shadow: inset 280px 0 0 0 $hoverButtonColor;
      color: $mainWhiteColor;
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    width: 270px;
  }
}
