.nav {

  &__list {
    display: grid;
    grid-row-gap: 5px;
  }

  &__item {
    list-style: none;
  }

  &__link {

    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: $headerWhiteColor;
      opacity: 0.7;
    }

    &:hover {
      text-decoration: none;
      color: $hoverButtonColor;
    }
  }
}
